img{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}










.letter-c{
    width: 200px;
    height:189.0967px;
    display:inline-block; 
    /*border:4px solid #EFA0A0;*/
    position:relative;
}

.vertical-left-mid-c{ /*left vertical bar of c*/
    width: 11.4072px;
    height: 138.7407px;
    background: black;
    position: absolute;
    top: 25.1784px;
    left: 0px;
}

.vertical-right-mid-c{
    width: 11.4072px;
    height: 138.7407px;
    background: black;
    position: absolute;
    top: 25.1784px;
    left: 38.9478px;
}

.top-vertical-circle-c{
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}
.top-vertical-circle-white-c{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4072px;
    left: 11.4072px;
}

.bottom-vertical-circle-c{
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 138.7403px;
    left: 0;
}

.bottom-vertical-circle-white-c{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 150.1485px;
    left: 11.4072px;
}

.vertical-white-c{
    width: 27.5409px;
    height: 138.7404px;
    background: white;
    position: absolute;
    top: 25.1784px;
    left: 11.4072px;
}

.horizontal-top-mid-1-c{ /*top bar of c*/
    width: 121.0056px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 0px;
    left: 42.9126px;
}

.horizontal-top-mid-2-c{
    width: 121.0056px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 38.9478px;
    left: 42.9126px;
}

.top-horizontal-left-circle-c{
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 17.7353px;
}

.top-horizontal-left-circle-white-c{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4076px;
    left: 29.1432px;
}

.top-horizontal-white-c{
    width: 101.532px;
    height: 27.5409px;
    background: white;
    position: absolute;
    top: 11.4076px;
    left: 42.9126px;
}

.top-horizontal-circle-right-c{
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 138.7412px;
}

.top-horizontal-circle-right-white-c{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4076px;
    left: 150.1484px;
}

.horizontal-bottom-mid-1-c{ /*bottom bar of c*/
    width: 121.0056px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 138.7412px;
    left: 42.9126px;
}

.horizontal-bottom-mid-2-c{
    width: 121.0056px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 177.689px;
    left: 42.9126px;
}

.bottom-horizontal-left-circle-c{
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 138.7412px;
    left: 17.7353px;
}

.bottom-horizontal-left-circle-white-c{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 150.1477px;
    left: 29.1432px;
}

.bottom-horizontal-white-c{
    width: 101.532px;
    height: 27.5409px;
    background: white;
    position: absolute;
    top: 150.1477px;
    left: 42.9126px;
}

.bottom-horizontal-circle-right-c{
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 138.7412px;
    left: 138.7412px;
}

.bottom-horizontal-circle-right-white-c{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 150.1477px;
    left: 150.1491px;
}

.letter-i{
    width: 65px;
    height: 240.2926px;
    display:inline-block; 
    /*border:4px solid #EFA0A0;*/
    position:relative;

}

.top-circle-i{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 0px;
}

.top-circle-white-i{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4072px;
    left: 11.4072px;
}


.left-i{
    width: 11.4073px;
    height: 133.0365px;
    background: black;
    position: absolute;
    top: 82.078px;
    left: 0;
}

.right-i{
    width: 11.4073px;
    height: 133.0365px;
    background: black;
    position: absolute;
    top: 82.078px;
    left: 38.9478px;
}

.second-circle-i{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 56.8993px;
    left: 0px;
}

.second-circle-white-i{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 68.3077px;
    left: 11.4072px;
}

.third-circle-i{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 189.9362px;
    left: 0px;
}

.third-circle-white-i{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 201.3445px;
    left: 11.4072px;
}

.whitespace-i{
    width: 27.5402px;
    height: 133.0365px;
    background: white;
    position: absolute;
    top: 82.078px;
    left: 11.4073px;
}

.vertical-left-1{
    width: 11.4073px;
    height: 146.7688px;
    background:  black;
    position: absolute;
    top: 25.217px;
    left: 0;
}

.vertical-left-2{
    width: 11.4073px;
    height: 146.7688px;
    background:  black;
    position: absolute;
    top: 25.217px;
    left: 38.9478px;
}

.vertical-left-top-circle{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background:  black;
    position: absolute;
    top: 0;
    left: 0;
}

.vertical-left-top-circle-white{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4082px;
    left: 11.4082px;
}

.vertical-left-bottom-circle{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 146.8076px;
    left: 0;
}

.vertical-left-bottom-circle-white{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 158.216px;
    left: 11.4082px;
}

.vertical-left-white{
    width: 27.5405px;
    height: 146.8081px;
    background: white;
    position: absolute;
    top: 25.217px;
    left: 11.4082px;
}

.letter-r{
    width: 195.9435px;
    height: 197.1641px;
    display:inline-block; 
/*    border:4px solid #EFA0A0;*/
    position:relative;
}

.r-arm-translated-down{
    transform: translateY(13.771px);
}


.letter-u{
    width: 210px;
    height: 183.4055px;
    display:inline-block; 
    position:relative;
}

.vertical-right-1-u{
    width: 11.4073px;
    height: 133.0368px;
    background: black;
    position: absolute;
    top: 25.1912px;
    left: 145.5876px;
}

.vertical-right-2-u{
    width: 11.4073px;
    height: 133.0368px;
    background: black;
    position: absolute;
    top: 25.1912px;
    left: 184.5353px;
}

.vertical-right-top-circle-u{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 145.622px;
}

.vertical-right-top-circle-white-u{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4082px;
    left: 157.0293px;
}

.vertical-right-bottom-circle-u{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 133.0383px;
    left: 145.622px;
}

.vertical-right-bottom-circle-white-u{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 144.445px;
    left: 157.0293px;
}

.vertical-right-white-u{
    width: 27.5405px;
    height: 133.0373px;
    background: white;
    position: absolute;
    top: 25.1784px;
    left: 157.0293px;
}

.horizontal-top-1-u{
    width: 127.8525px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 0;
    left: 25.1784px;
}

.horizontal-top-2-u{
    width: 127.8525px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 38.9475px;
    left: 25.1784px;
}

.horizontal-top-circle-right-u{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 127.8525px;
}

.horizontal-top-circle-right-white-u{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4072px;
    left: 139.2607px;
}

.horizontal-top-white-u{
    width: 127.8437px;
    height: 27.54px;
    background: white;
    position: absolute;
    top: 11.4072px;
    left: 25.1782px;
}

.horizontal-bottom-1-u{
    width: 127.8525px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 133.0383px;
    left: 25.1784px;
}

.horizontal-bottom-2-u{
    width: 127.8525px;
    height: 11.4072px;
    background: black;
    position: absolute;
    top: 171.9849px;
    left: 25.1784px;
}

.horizontal-bottom-circle-right-u{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 133.0383px;
    left: 127.8525px;
}

.horizontal-bottom-circle-right-white-u{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 144.445px;
    left: 139.2607px;
}

.horizontal-bottom-white-u{
    width: 127.8437px;
    height: 27.54px;
    background: white;
    position: absolute;
    top: 144.445px;
    left: 25.1782px;
}

.medium-vertical-1{       
    width: 11.4073px;
    height: 133.0368px;
    background: black;
    position: absolute;
    top: 25.1912px;
    left: 0px;
}

.medium-vertical-2{
    width: 11.4073px;
    height: 133.0368px;
    background: black;
    position: absolute;
    top: 25.1912px;
    left: 38.9482px;
}

.medium-vertical-top-circle{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

.medium-vertical-top-circle-white{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4082px;
    left: 11.4082px;
}

.medium-vertical-bottom-circle{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 133.0383px;
    left: 0;
}

.medium-vertical-bottom-circle-white{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 144.445px;
    left: 11.4082px;
}

.medium-vertical-white{
    width: 27.5405px;
    height: 133.0373px;
    background: white;
    position: absolute;
    top: 25.1784px;
    left: 11.4082px;
}










.letter-s{
    width: 189.0956px;
    height: 183.3944px;
    display:inline-block;
    position:relative;
}

.left-s{
    width: 11.4072px;
    height: 67.0764px;
    background: black;
    position: absolute;
    top: 25.1643px;
    left: 0;
}

.right-s{
    width: 11.4072px;
    height: 67.0764px;
    background: black;
    position: absolute;
    top: 25.1643px;
    left: 38.9925px;
}

.circle-1-s{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 67.0764px;
    left: 0;
}

.circle-1-white-s{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 78.483px;
    left: 11.4072px;
}

.circle-2-s{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

.circle-2-white-s{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 11.4072px;
    left: 11.4072px;
}

.whitespace-s{
    width: 27.5853px;
    height: 67.0898px;
    background: white;
    position: absolute;
    top: 25.1643px;
    left: 11.4072px;
}

.middle-horizontal-s{
    transform: translateY(67.0764px);
}

.bottom-horizontal-s{
    transform: scaleX(-1) translateY(133.0259px);
}

.left-2-s{
    width: 11.4072px;
    height: 65.9484px;
    background: black;
    position: absolute;
    top: 92.2539px;
    left: 138.7391px;
}

.right-2-s{
    width: 11.4072px;
    height: 65.9484px;
    background: black;
    position: absolute;
    top: 92.2539px;
    left: 177.6874px;
}

.circle-2-1-s{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 78.4842px;
    left: 138.7391px;
}

.circle-2-1-white-s{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 78.483px;
    left: 150.1473px;
}

.circle-2-2-s{ 
    width: 50.355px;
    height: 50.355px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 133.0388px;
    left: 138.7391px;
}

.circle-2-2-white-s{
    width: 27.5409px;
    height: 27.5409px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 144.4461px;
    left: 150.1473px;
}

.whitespace-2-s{
    width: 27.5853px;
    height: 67.0898px;
    background: white;
    position: absolute;
    top: 92.2545px;
    left: 150.1473px;
}







.circus{
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    /*z-index:0;*/
}





.welcome{
    margin: auto;
    font-family: arial, bold;
    font-size: 40pt;
    z-index: 1;

}

.setting-up{
    font-family: arial, bold;
    font-size: 20pt;
    z-index: 3;

}

.event-info{
    font-family: arial, bold;
    font-size: 20pt;
    z-index: 4;
}


















